In [1]:
from automl.schema.descriptors import ColumnDescriptor, DatasetDescriptor

from sklearn.datasets import fetch_openml

In [2]:
# 1461,31,29
x = fetch_openml(data_id=1461, as_frame=True, parser="pandas")
dataset = x["frame"]
print(f"dataset Shape {dataset.shape}")
dataset.head()

dataset Shape (45211, 17)

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,V15,V16,Class
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,1
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,1
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,1
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,1
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,1

In [3]:
DatasetDescriptor.build_from_dataset(dataset, target_columns=["Class"])

DatasetDescriptor(row_count=45211, cloumns_info=[ColumnDescriptor(name='V1', col_type=<ColumnType.FEATURES: 'features'>, dtype=<Dtypes.INTERGER: 'integer'>, feature_type=<FeatureType.Continuous: 'Continuous'>, count=45211, mean=40.93621021432837, median=39.0, mode=32.0, null_count=0, unique_valus=77, imputation_scheme=None, imputation_value=None, is_selected=True), ColumnDescriptor(name='V2', col_type=<ColumnType.FEATURES: 'features'>, dtype=<Dtypes.CATEGORICAL: 'categorical'>, feature_type=<FeatureType.Ordinal: 'Ordinal'>, count=45211, mean=None, median=None, mode='blue-collar', null_count=0, unique_valus=12, imputation_scheme=None, imputation_value=None, is_selected=True), ColumnDescriptor(name='V3', col_type=<ColumnType.FEATURES: 'features'>, dtype=<Dtypes.CATEGORICAL: 'categorical'>, feature_type=<FeatureType.Ordinal: 'Ordinal'>, count=45211, mean=None, median=None, mode='married', null_count=0, unique_valus=3, imputation_scheme=None, imputation_value=None, is_selected=True), ColumnDescriptor(name='V4', col_type=<ColumnType.FEATURES: 'features'>, dtype=<Dtypes.CATEGORICAL: 'categorical'>, feature_type=<FeatureType.Ordinal: 'Ordinal'>, count=45211, mean=None, median=None, mode='secondary', null_count=0, unique_valus=4, imputation_scheme=None, imputation_value=None, is_selected=True), ColumnDescriptor(name='V5', col_type=<ColumnType.FEATURES: 'features'>, dtype=<Dtypes.CATEGORICAL: 'categorical'>, feature_type=<FeatureType.Ordinal: 'Ordinal'>, count=45211, mean=None, median=None, mode='no', null_count=0, unique_valus=2, imputation_scheme=None, imputation_value=None, is_selected=True), ColumnDescriptor(name='V6', col_type=<ColumnType.FEATURES: 'features'>, dtype=<Dtypes.INTERGER: 'integer'>, feature_type=<FeatureType.Continuous: 'Continuous'>, count=45211, mean=1362.2720576850766, median=448.0, mode=0.0, null_count=0, unique_valus=7168, imputation_scheme=None, imputation_value=None, is_selected=True), ColumnDescriptor(name='V7', col_type=<ColumnType.FEATURES: 'features'>, dtype=<Dtypes.CATEGORICAL: 'categorical'>, feature_type=<FeatureType.Ordinal: 'Ordinal'>, count=45211, mean=None, median=None, mode='yes', null_count=0, unique_valus=2, imputation_scheme=None, imputation_value=None, is_selected=True), ColumnDescriptor(name='V8', col_type=<ColumnType.FEATURES: 'features'>, dtype=<Dtypes.CATEGORICAL: 'categorical'>, feature_type=<FeatureType.Ordinal: 'Ordinal'>, count=45211, mean=None, median=None, mode='no', null_count=0, unique_valus=2, imputation_scheme=None, imputation_value=None, is_selected=True), ColumnDescriptor(name='V9', col_type=<ColumnType.FEATURES: 'features'>, dtype=<Dtypes.CATEGORICAL: 'categorical'>, feature_type=<FeatureType.Ordinal: 'Ordinal'>, count=45211, mean=None, median=None, mode='cellular', null_count=0, unique_valus=3, imputation_scheme=None, imputation_value=None, is_selected=True), ColumnDescriptor(name='V10', col_type=<ColumnType.FEATURES: 'features'>, dtype=<Dtypes.INTERGER: 'integer'>, feature_type=<FeatureType.Continuous: 'Continuous'>, count=45211, mean=15.80641879188693, median=16.0, mode=20.0, null_count=0, unique_valus=31, imputation_scheme=None, imputation_value=None, is_selected=True), ColumnDescriptor(name='V11', col_type=<ColumnType.FEATURES: 'features'>, dtype=<Dtypes.CATEGORICAL: 'categorical'>, feature_type=<FeatureType.Ordinal: 'Ordinal'>, count=45211, mean=None, median=None, mode='may', null_count=0, unique_valus=12, imputation_scheme=None, imputation_value=None, is_selected=True), ColumnDescriptor(name='V12', col_type=<ColumnType.FEATURES: 'features'>, dtype=<Dtypes.INTERGER: 'integer'>, feature_type=<FeatureType.Continuous: 'Continuous'>, count=45211, mean=258.1630797814691, median=180.0, mode=124.0, null_count=0, unique_valus=1573, imputation_scheme=None, imputation_value=None, is_selected=True), ColumnDescriptor(name='V13', col_type=<ColumnType.FEATURES: 'features'>, dtype=<Dtypes.INTERGER: 'integer'>, feature_type=<FeatureType.Continuous: 'Continuous'>, count=45211, mean=2.763840658246887, median=2.0, mode=1.0, null_count=0, unique_valus=48, imputation_scheme=None, imputation_value=None, is_selected=True), ColumnDescriptor(name='V14', col_type=<ColumnType.FEATURES: 'features'>, dtype=<Dtypes.INTERGER: 'integer'>, feature_type=<FeatureType.Continuous: 'Continuous'>, count=45211, mean=40.19782796222158, median=-1.0, mode=-1.0, null_count=0, unique_valus=559, imputation_scheme=None, imputation_value=None, is_selected=True), ColumnDescriptor(name='V15', col_type=<ColumnType.FEATURES: 'features'>, dtype=<Dtypes.INTERGER: 'integer'>, feature_type=<FeatureType.Continuous: 'Continuous'>, count=45211, mean=0.5803233726305546, median=0.0, mode=0.0, null_count=0, unique_valus=41, imputation_scheme=None, imputation_value=None, is_selected=True), ColumnDescriptor(name='V16', col_type=<ColumnType.FEATURES: 'features'>, dtype=<Dtypes.CATEGORICAL: 'categorical'>, feature_type=<FeatureType.Ordinal: 'Ordinal'>, count=45211, mean=None, median=None, mode='unknown', null_count=0, unique_valus=4, imputation_scheme=None, imputation_value=None, is_selected=True), ColumnDescriptor(name='Class', col_type=<ColumnType.TARGET: 'target'>, dtype=<Dtypes.CATEGORICAL: 'categorical'>, feature_type=<FeatureType.Ordinal: 'Ordinal'>, count=45211, mean=None, median=None, mode='1', null_count=0, unique_valus=2, imputation_scheme=None, imputation_value=None, is_selected=True)], duplicate_rows=[], duplicate_columns=[])

In [6]:
import pandas as pd

# Sample DataFrame
data = {"A": [1, 2, 3], "B": [1.5, 2.5, 3.5], "C": ["x", "y", "z"]}

df = pd.DataFrame(data)

# Get the dtype of column 'A'
print(type(df["A"].dtype))  # Output: int64

# Get the dtype of column 'B'
print(type(df["B"].dtype))  # Output: float64

<class 'numpy.dtypes.Int64DType'>
<class 'numpy.dtypes.Float64DType'>

In [5]:
import numpy.typing as npt
import numpy as np

In [6]:
np.issubdtype(dataset["V2"].dtype, np.floating)

TypeError: Cannot interpret 'CategoricalDtype(categories=['admin.', 'blue-collar', 'entrepreneur', 'housemaid',
                  'management', 'retired', 'self-employed', 'services',
                  'student', 'technician', 'unemployed', 'unknown'],
, ordered=False, categories_dtype=object)' as a data type

In [7]:
dataset["V2"].dtype

CategoricalDtype(categories=['admin.', 'blue-collar', 'entrepreneur', 'housemaid',
                  'management', 'retired', 'self-employed', 'services',
                  'student', 'technician', 'unemployed', 'unknown'],
, ordered=False, categories_dtype=object)

In [9]:
np.issubdtype(dataset["V2"].dtype, np.integer)

TypeError: Cannot interpret 'CategoricalDtype(categories=['admin.', 'blue-collar', 'entrepreneur', 'housemaid',
                  'management', 'retired', 'self-employed', 'services',
                  'student', 'technician', 'unemployed', 'unknown'],
, ordered=False, categories_dtype=object)' as a data type